* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: "sans-serif";
  background: url("../assets/images/background.jpg") no-repeat center center
    fixed;
  background-size: cover;
  color: white;
  position: relative;
  overflow: hidden;
}

.container {
  text-align: center;
  position: relative;
  z-index: 1;
  width: 90%;
  max-width: 56.25rem;
  margin: 2.5rem auto;
}

.container h1 {
  font-size: 5rem;
  margin-bottom: 1.5rem;
  text-shadow: 0 0 1.25rem rgba(0, 150, 255, 0.6);
}

.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-menu.hidden {
  display: none;
}

.level-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
  padding: 1.25rem;
  background: linear-gradient(135deg, #7a1c71, #4a148c);
  border-radius: 1.25rem;
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.3);
}

.level-selection label {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.75rem 1.5625rem;
  border-radius: 3.125rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  color: #ffffff;
  text-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.level-selection label:hover {
  background-color: rgba(255, 255, 255, 0.25);
  transform: scale(1.05);
  box-shadow: 0 0 0.625rem #fff;
}

.level-selection input[type="radio"] {
  margin-right: 0.5rem;
  accent-color: #00c6ff;
}

.button {
  background: linear-gradient(45deg, #007bff, #00c6ff);
  border: none;
  border-radius: 3.125rem;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 1.25rem rgba(0, 150, 255, 0.5);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1em 2em;
  margin: 1em;
}

.button:hover,
.start-button:hover {
  transform: scale(1);
  box-shadow: 0 0 2.1875rem rgba(0, 150, 255, 0.9);
}

.card {
  width: 100%;
  aspect-ratio: 2 / 1.8;
  perspective: 62.5rem;
  cursor: pointer;
  position: relative;
}

.card div {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.front-side img,
.back-side img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  border-radius: 0.625rem;
  box-sizing: content-box;
}

.back-side {
  transform: rotateY(180deg);
}

.card.flipped .front-side {
  transform: rotateY(180deg);
}

.card.flipped .back-side {
  transform: rotateY(0deg);
}

.card:hover {
  transform: scale(1.05);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.625rem;
}

.card-container.grid-wide {
  grid-template-columns: repeat(6, 1fr);
}

.game-info {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin-bottom: 1.25rem;
  font-size: 1.2rem;
}

.game-info p {
  background: rgba(255, 255, 255, 0.1);
  padding: 0.625rem 1.5625rem;
  border-radius: 0.625rem;
  font-weight: bold;
  min-width: 5rem;
  text-align: center;
  letter-spacing: 0.0625rem;
}

.game-info p span {
  color: #00c6ff;
  font-size: 1.3rem;
}

.matched,
.time-up {
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease;
}

.win-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(54 13 105);
  backdrop-filter: blur(0.3125rem);
  color: #ffffff;
  padding: 1.5625rem 2.5rem;
  border-radius: 0.9375rem;
  text-align: center;
  z-index: 20;
  max-width: 90%;
  height: 11rem;
  box-shadow: 0 0 1.25rem #ad42fe;
}

.win-screen h1 {
  font-size: 2.5rem;
  color: #fe3efe;
  text-shadow: 0 0 0.5rem #901661;
}

.button-seletion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hidden {
  display: none;
}

@media (max-width: 600px) {
  .container h1 {
    font-size: 3rem;
    margin: 0.5em;
  }

  .level-selection label {
    padding: 1em 2em;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.625rem;
  }

  .card-container.grid-wide {
    grid-template-columns: repeat(4, 1fr);
  }

  .game-info {
    display: grid;
    grid-template-columns: repeat(2, 2fr);

    gap: 0.625rem;
    font-size: 1rem;
  }

  .main-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
  }

  .win-screen {
    top: 60%;
    min-width: 30rem;
    padding: 1em;
    height: 30%;
  }
}

@media (max-width: 400px) {
  .win-screen {
    min-width: 90%;
    padding: 1.25rem;
  }
}
