* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: "sans-serif";
  background: url("../assets/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  position: relative;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  position: relative;
  z-index: 1;
  width: 95%;
  max-width: 56.25rem;
  margin: 2.5rem auto;
}

.main-menu:not(.hidden) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container h1 {
  font-size: 5rem;
  margin: 1.5rem;
  letter-spacing: 0.125rem;
  text-shadow: 0 0 1.25rem rgba(0, 150, 255, 0.6);
}

.level-selection {
  margin-bottom: 1.875rem;
  display: flex;
  background: linear-gradient(135deg, #7a1c71, #4a148c);
  padding: 1.25rem;
  gap: 1.25rem;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 1.25rem;
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.3);
}

.level-selection label {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.75rem 1.5625rem;
  border-radius: 3.125rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  color: #ffffff;
  font-size: 1rem;
  text-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.5);
}

.level-selection label:hover {
  background-color: rgba(255, 255, 255, 0.25);
  transform: scale(1.05);
  box-shadow: 0 0 0.625rem #fff;
}

.level-selection input[type="radio"] {
  margin-right: 0.5rem;
  accent-color: #00c6ff;
}

.button {
  background: linear-gradient(45deg, #007bff, #00c6ff);
  border: none;
  border-radius: 3.125rem;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 1.25rem rgba(0, 150, 255, 0.5);
}

.start-button {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1em 2em;
}

.start-button:hover,
.button:hover {
  transform: scale(1);
  box-shadow: 0 0 2.1875rem rgba(0, 150, 255, 0.9);
}

.hidden {
  display: none;
}

.card {
  width: 100%;
  aspect-ratio: 1 / 1;
  perspective: 62.5rem;
  cursor: pointer;
  position: relative;
}

.card div {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.front-side img,
.back-side img {
  box-sizing: content-box;
  width: 100%;
  background-position: center;
  background-size: contain;
  border-radius: 0.625rem;
  height: 100%;
}

.back-side {
  transform: rotateY(180deg);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.625rem;
}

.card-container.grid-wide {
  grid-template-columns: repeat(6, 1fr);

}

.card:hover {
  transform: scale(1.05);
}

.card.flipped .front-side {
  transform: rotateY(180deg);
}

.card.flipped .back-side {
  transform: rotateY(0deg);
}

.game-info {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin-bottom: 1.25rem;
  font-size: 1.2rem;
}

.game-info p {
  background: rgba(255, 255, 255, 0.1);
  padding: 0.625rem 1.5625rem;
  border-radius: 0.625rem;
  font-weight: bold;
  min-width: 5rem;
  text-align: center;
  letter-spacing: 0.0625rem;
}

.game-info p span {
  color: #00c6ff;
  font-size: 1.3rem;
}

.matched,
.time-up {
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease;
}

@keyframes flash {

  0%,
  100% {
    transform: scale(1.1);
    box-shadow: 0 0 2.5rem #00ff00;
  }

  50% {
    transform: scale(1.2);
    box-shadow: 0 0 3.125rem #00ff00;
  }
}

.unmatched {
  animation: shake 0.5s ease-in-out 1;
  box-shadow: 0 0 3.125rem #d60101;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-0.625rem);
  }

  50% {
    transform: translateX(0.625rem);
  }

  75% {
    transform: translateX(-0.625rem);
  }
}

.play-again-button {
  text-decoration: none;
}

.win-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(54 13 105);
  backdrop-filter: blur(0.3125rem);
  color: #ffffff;
  padding: 1.5625rem 2.5rem;
  border-radius: 0.9375rem;
  text-align: center;
  z-index: 20;
  max-width: 90%;
  height: 11rem;
  box-shadow: 0 0 1.25rem #ad42fe;
}

.win-screen h1 {
  font-size: 2.5rem;
  color: #fe3efe;
  text-shadow: 0 0 0.5rem #901661;
}

.restart-button,
.main-menu-button {
  padding: 1em 1em;
  margin: 1.5em;
  border-radius: 999px;
  margin-bottom: 1.25rem;
  font-size: 1.2rem;
}

.button-seletion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 600px) {
  .container h1 {
    font-size: 2rem;
  }

  .level-selection label {
    padding: 1em 2em;
  }

  .card-container {
    grid-template-columns: repeat(4, 1fr);
    padding: 0.625rem;
  }

  .container h1 {
    font-size: 3rem;
  }

  .game-info {
    flex-direction: column;
    gap: 0.625rem;
    font-size: 1rem;
  }

  .main-page-button {
    margin: 1.25rem 0;
    padding: 0.625rem;
  }

  .main-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .button-seletion {
    display: grid;
    margin: 0.5em;
  }

  .restart-button,
  .main-menu-button {
    margin: 0.3125rem;
    font-size: 0.9rem;
  }

  .main-menu:not(.hidden) {
    display: flex;
  }

  .win-screen {
    top: 60%;
    min-width: 30rem;
  }

  .card-container.grid-wide {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 400px) {
  .win-screen {
    min-width: 90%;
    padding: 1.25rem;
  }
}