.game-info {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin-bottom: 1.25rem;
    font-size: 1.2rem;
}

.game-info p {
    background: rgba(255, 255, 255, 0.1);
    padding: 0.625rem 1.5625rem;
    border-radius: 0.625rem;
    font-weight: bold;
    min-width: 5rem;
    text-align: center;
    letter-spacing: 0.0625rem;
}

.game-info p span {
    color: var(--primary-blue);
    font-size: 1.3rem;
}